{% extends "master.html" %}
{% block title %}Classification Results{% endblock %}

{% block message %}
    <div class="alert alert-info text-center mt-4">
        <strong>Message:</strong> <em>{{ query }}</em>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4">Classification Results</h2>
        <div class="row">
            {% for category, classification in classification_result.items() %}
                <div class="col-md-4 mb-3">
                    <div class="card text-center">
                        {% if classification == 1 %}
                            <div class="card-body bg-success">
                                <h5 class="card-title">{{ category.replace('_', ' ').title() }}</h5>
                            </div>
                        {% else %}
                            <div class="card-body bg-secondary">
                                <h5 class="card-title">{{ category.replace('_', ' ').title() }}</h5>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
